.co {
  margin: 20px;
  border-radius: 20px;
  justify-content: center;
  overflow-x: scroll;
}
.co::-webkit-scrollbar {
  display: none;
}
.ths {
  position: sticky;
  top: 0;
  background-color: black;
}
