.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  transition: all 300ms ease;
}

.logo {
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
  padding-left: 1rem;
}

.logo > img {
  width: 3rem;
  height: 3rem;
}

.logo > span > span {
  color: #2f8f9d;
}

.login-btn {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 10rem;
}

.login-btn button {
  height: 4rem;
  font-family: monospace;

  /* background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
  font-size: 1.5rem;
  border-radius: 5px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #657f00 0%,
    #657f00 51%,
    #a54405 100%
  );
  margin: 10px;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;

  border-style: none;
  border-radius: none;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.info {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
